<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemongo97.iptv.iptvmanager.mapper.EpgChannelMapper">

    <resultMap id="EpgChannelResultMap" type="com.lemongo97.iptv.iptvmanager.entity.EpgChannel">
        <id property="id" column="id"/>
        <result property="epgSourceId" column="epg_source_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="displayName" column="display_name" typeHandler="com.lemongo97.iptv.iptvmanager.entity.EpgChannel$DisplayNameTypeHandler"/>
        <result property="icon" column="icon" typeHandler="com.lemongo97.iptv.iptvmanager.entity.EpgChannel$IconTypeHandler"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <select id="findBySourceId" resultMap="EpgChannelResultMap">
        SELECT id, epg_source_id, channel_id, display_name, icon,
               created_at, updated_at, deleted
        FROM epg_channels
        WHERE epg_source_id = #{sourceId} AND deleted = 0
        ORDER BY channel_id, id
    </select>

    <select id="findById" resultMap="EpgChannelResultMap">
        SELECT id, epg_source_id, channel_id, display_name, icon,
               created_at, updated_at, deleted
        FROM epg_channels
        WHERE id = #{id} AND deleted = 0
    </select>

    <select id="findByChannelName" resultMap="EpgChannelResultMap">
        SELECT
            ec.id,
            ec.epg_source_id,
            ec.channel_id,
            ec.display_name,
            ec.icon,
            ec.created_at,
            ec.updated_at,
            ec.deleted
        FROM
            epg_channels ec
                LEFT JOIN epg_providers es ON ec.epg_source_id = es.id
                AND es.deleted = 0
                AND es.enabled = 1
        WHERE
            ec.deleted = 0
          AND EXISTS (SELECT 1 FROM json_each (ec.display_name) WHERE LOWER(json_each.value ->> '$.value') LIKE LOWER(#{channelName}))
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO epg_channels (
          epg_source_id, channel_id, display_name, icon,
            created_at, updated_at, deleted
        ) VALUES (
            #{epgSourceId}, #{channelId},
            #{displayName, typeHandler=com.lemongo97.iptv.iptvmanager.entity.EpgChannel$DisplayNameTypeHandler},
            #{icon, typeHandler=com.lemongo97.iptv.iptvmanager.entity.EpgChannel$IconTypeHandler},
            #{createdAt}, #{updatedAt}, 0
        )
    </insert>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO epg_channels (
            epg_source_id, channel_id, display_name, icon,
            created_at, updated_at, deleted
        ) VALUES
        <foreach collection="channels" item="channel" separator=",">
            (#{program.epgSourceId}, #{program.channelId},
             #{program.displayName, typeHandler=com.lemongo97.iptv.iptvmanager.entity.EpgChannel$DisplayNameTypeHandler},
             #{program.icon, typeHandler=com.lemongo97.iptv.iptvmanager.entity.EpgChannel$IconTypeHandler},
             #{program.createdAt}, #{program.updatedAt}, 0)
        </foreach>
    </insert>

    <update id="deleteBySourceId">
        UPDATE epg_channels
        SET deleted = 1
        WHERE epg_source_id = #{sourceId}
    </update>

</mapper>
